:root {
	/* Font & Line Height */
	--font-sans:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	--line-height-normal: 1.5;
	--line-height-tight: 1.2;

	/* Scalable Text Sizes */
	--text-xs: clamp(0.7rem, 1.5vw, 0.8rem);
	--text-small: clamp(0.8rem, 1.8vw, 0.9rem);
	--text-medium: clamp(1rem, 2vw, 1.1rem);
	--text-large: clamp(1.125rem, 2.5vw, 1.25rem);
	--text-xl: clamp(1.25rem, 3vw, 1.5rem);
	--text-2xl: clamp(1.5rem, 4vw, 2rem);
	--text-3xl: clamp(2rem, 5vw, 2.5rem);
	--text-4xl: clamp(2.5rem, 6vw, 3rem);
	--text-5xl: clamp(3rem, 7vw, 3.5rem);

	/* Colors */
	--primary: oklch(60% 0.18 300);
	--accent: oklch(80.6% 0.1683 76.94);
	--neutral: oklch(91% 0.01 270);
	--neutral-inverse: oklch(27% 0.01 270);
	--error: oklch(65% 0.18 25);
	--success: oklch(75% 0.15 140);

	--primary-less: color-mix(in oklch, var(--primary) 90%, white);
	--primary-more: color-mix(in oklch, var(--primary) 50%, black);

	--accent-less: color-mix(in oklch, var(--accent) 50%, white);
	--accent-more: color-mix(in oklch, var(--accent) 40%, black);

	--bg: var(--neutral);
	--bg-less: color-mix(in oklch, var(--neutral) 50%, white);
	--bg-more: color-mix(in oklch, var(--neutral) 28%, black);

	--text: oklch(20% 0.01 270);
	--text-inverse: oklch(85% 0.01 270);

	--text-less: color-mix(in oklch, var(--text) 50%, white);
	--text-more: color-mix(in oklch, var(--text) 25%, white);
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: oklch(70% 0.18 300);

		--primary-less: color-mix(in oklch, var(--primary) 90%, black);
		--primary-more: color-mix(in oklch, var(--primary) 60%, white);

		--accent-less: color-mix(in oklch, var(--accent) 50%, black);
		--accent-more: color-mix(in oklch, var(--accent) 40%, white);

		--bg: var(--neutral-inverse);
		--bg-less: color-mix(in oklch, var(--neutral-inverse) 50%, black);
		--bg-more: color-mix(in oklch, var(--neutral-inverse) 10%, white);

		--text: var(--text-inverse);
		--text-less: color-mix(in oklch, var(--text) 50%, black);
		--text-more: color-mix(in oklch, var(--text) 25%, black);

		input,
		button {
			background: var(--bg-less);
			border: 1px solid var(--bg-less);
			color: inherit;
		}
	}
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--font-sans);
	line-height: var(--line-height-normal);
}

input:focus {
	outline: none;
	border-color: var(--primary-less);
	box-shadow: 0 0 0 1px var(--primary-less);
}

a {
	color: var(--primary);
	text-decoration: none;
}

input,
textarea,
select {
	background-color: var(--bg-soft);
	color: inherit;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	line-height: var(--line-height-tight);
	font-weight: 600;
}

h1 {
	font-size: clamp(2rem, 4.5vw, 2.5rem);
}

h2 {
	font-size: clamp(1.7rem, 3.8vw, 2rem);
}

h3 {
	font-size: clamp(1.4rem, 3vw, 1.5rem);
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

/* Text Utilities */
.text-xs {
	font-size: var(--text-xs);
}
.text-small {
	font-size: var(--text-small);
}
.text-medium {
	font-size: var(--text-medium);
}
.text-large {
	font-size: var(--text-large);
}
.text-xl {
	font-size: var(--text-xl);
}

/* Non-Selectable Elements */
button,
img,
svg {
	user-select: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

/* Responsive Adjustments */
@media (max-width: 640px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.7rem;
	}
	h3 {
		font-size: 1.4rem;
	}
	h4 {
		font-size: 1.2rem;
	}

	p {
		margin-bottom: 1.2rem;
	}

	html {
		padding-bottom: 13rem;
		scrollbar-width: none;
		-webkit-overflow-scrolling: touch;
		overscroll-behavior: none;
	}

	html::-webkit-scrollbar {
		display: none;
	}

	body {
		overscroll-behavior-y: none;
	}
}
